<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="OrderFoodManagementEntities" connectionString="metadata=res://*/OFSDatabase.csdl|res://*/OFSDatabase.ssdl|res://*/OFSDatabase.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=IN5CD7183VMX\SQLEXPRESS;initial catalog=OrderFoodManagement;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>